.header__title{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 64px;
    max-width: 730px;
    line-height: 96px;
    font-size: 102px;
    font-weight: 600;
    z-index: 2;
  }